// Brand Colors
$color-main: #9E9BE0; //#0802A3;
$color-secondary: #FFE9BA;// #FFD04B;
$color-accent: #585793; //#FF4B91;
$color-main-2: #FF9494;

// Grid Item Boarder Colors
$color-boarder-purple: #c4b6ea;

// Background Colors
$color-bg-white: #FFFFFF;
$color-bg-light-gray: #FFFFFD;
$color-bg-purple: #f7f5ff;
$color-bg-yellow: #fefff4;

// Color for Dashboard
$color-skyblue: #b5e0f2;
$color-purple: #d5b9f4;
$color-pink: #f7b8c8;
$color-green: #ade5dc;

// Grayscale
$color-black: #000000;
$color-gray-1: #626262;
$color-gray-2: #9D9D9D;
$color-gray-3: #E2E2E2;
$color-gray-4: #F5F5F5;
$color-gray-5: #FAFAFA;
$color-white: #FFFFFF;

// State Colors
$color-success: #439F6E;
$color-validation: #FFB82E;
$color-error: #F93232;

// Interactive States
$color-hover: #6762ED;
$color-active: #1F17EE;
$color-hover-bg: rgba($color-main, 0.1);
$color-active-bg: rgba($color-main, 0.15);
$color-tooltip-bg: #F2F2FF;
$color-accent-hover: #F26DA0;